<div class="max-w-xs mx-auto">
  <h1 class="text-4xl mb-5">Edit</h1>

<%= render 'form', gif: @gif %>

<%= link_to 'Destroy', @gif, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Show', @gif %> |
<%= link_to 'Back', gifs_path %>
</div>