<div class="container flex mx-auto mt-10 flex-wrap justify-center">
<% @gifs.each do |gif| %>
  <div class="max-w-xs m-4 border rounded shadow">
    <%= link_to image_tag(gif.image_url), gif%>
    <div class="p-2 text-center">
      <%= linked_tag_list gif %>      
    </div>
  </div>
<% end %>
</div>
